# Gradle
.gradle/
build/

# IntelliJ/Android Studio
.idea/
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Local config
local.properties

# macOS
.DS_Store

# Captures
captures/

# NDK / CMake
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Kotlin/Java
*.class
